* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  cursor: url("Assets/Cursors/Marvel.cur"), auto;
  font-family: "Comic Sans MS", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("Assets/Images/background.jpg");
  background-color: #3268bd;
  max-height: 100%;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Comic Sans MS", sans-serif;
}

ol {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.5rem;
    margin: .5rem;
    font-family: "Comic Sans MS", sans-serif;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #a50000;
    color: white;
    text-shadow: 2px 2px black;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #3268bd;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.page-title {
  color: #a50000;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
  text-shadow: 2px 2px white;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: #a50000;
  font-size: 4em;
  text-shadow: 2px 2px white;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  cursor: url("Assets/Cursors/MarvelPointer.cur"), auto;
  height: 175px;
  width: 125px;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card.visible .card-back {
  transform: rotateY(-180deg); 
}

.card.visible .card-front {
  transform: rotateY(0); 
}

.card.matched .card-front .card-value {
  animation: dance 1s linear infinite 500ms;
}

.card-back {
  background-color: black;
  border-color: #3268bd;
  transform: rotateY(0); 
}

.cardback {
  max-width: 110%;
  max-height: 110%;
  transition: transform 100ms ease-in-out;
  transform: translateY(-5px);
}

.card-back:hover .cardback {
  transform: translateY(0);
}

.card-value {
  position: relative;
  transition: transform 100ms ease-in-out;
  transform: scale(.9);
  max-width: 100%;
  max-height: 100%;
}

.card-front:hover .card-value {
  transform: scale(1);
}

.card-front {
  background-color:none;
  border: hidden;
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #3268bd;
  font-family: "Comic Sans MS", sans-serif;
  text-shadow: 2px 2px white;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-5deg)
  }
  75% {
    transform: rotate(5deg)
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .95);
    font-size: 10em;
  }
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .game-container {
    grid-template-columns: repeat(2, auto)
    }

    .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}
